.view {
    background-color: black;
    height: 900px;
    display: flex;
}

.card-details{
    background-color: #1F1F1F;
    height: 800px;
    width: 100%;
    margin-top: 70px
}
.card-details h2{
    padding: 20px 0px 0px 65px;
}
.card-details p{
    padding-left: 65px;
    color:grey;
}

.card-poster{
    display: flex;
    padding: 20px 20px 0 65px;
}

.card-poster img{
    border-radius: 7px;
    width: 285px;
}


.trailer img{
    width: 750px;
    height: 428px;
    padding-left: 7px;
   
    
    
}

.trailer  {
    position: relative;
  }
  .trailer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top right, rgb(32, 30, 30), transparent);
    opacity: 0.75;
  }



.overview{
    margin:15px 65px 0px 65px;
}
.overview p{
    border-bottom: 1px solid grey;
    text-align: justify;
    padding: 10px;
    
}

.rating{
    border: 5px solid yellow;
    
    
    border-radius: 80px;
    height: 140px;
    width: 140px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.rating h3{
    font-size: 18px;
    color: white;
    
   
   
      
  
}