#nowpage-title {
  color: rgb(244,255,82);
  margin: 40px 22px 20px;
  font-size: 32px;
}

#genre-name {
  font-size: 25px;
  margin: 10px 22px 10px;
}

#genre-btn {
  margin-left: -20px;
  margin-top: 12px;
}

.rec {
  height: 290px;
}

