#search {
  outline: 0;
  border: none;
  background-color: black;
  width: 500px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  font-size: 20px;
  caret-color: whitesmoke;
  color: white;
}

#search-box {
  outline: 0;
  border: 1px solid whitesmoke;
  width: 600px;
  height: 45px;
  border-radius: 25px;
  margin-top: 50px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#search-img {
  width: 20px;
  position: absolute;
  left: 430px;
  top: 60px;
}

#finded {
  width: 230px;
}

#finded-container {
  display: flex;
  margin-top: 50px;
}

#rec-container {
  margin-top: 50px;
}

