.principal {
  position:absolute;
  top: 0.5vw;
  left: 50vw;
  z-index: 2000;
  color: whitesmoke;
}

#d-search {
  width: 35vw;
  border-style: none;
  border-bottom: 1px solid whitesmoke;
  outline: 0px;
  background-color: transparent;
  caret-color: whitesmoke;
  font-size: 20px;
  color: white;
}

.d-container {
  background-color: rgba(34, 33, 33, 0.8);
  width: 33vw;
  margin-left: 32px;
  display: block;
}

#d-img {
  width: 4vw;
}

li {
  list-style: none;
  margin: 0px 10px 10px;
}

#d-span {
  margin-left: 30px;
}

.d-card {
  background-color: rgb(24, 23, 23);
  width: 28vw;
  border-radius: 10px;
}

#d-icon {
  width: 3%;
}