.header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: absolute;
    right: 10px;
    left: 0;
    align-items: center;
    padding: 0px 28px;
    z-index: 1000;
   
}
.Logo{
   width: 230px;
   height: 230px;
   margin-top: 22px;
}
.link{
   color: white;
   margin-right: 20px;
 
   text-decoration: none;
 
}

.icon{
   width: 30px;
   height: 15px;
   padding-right: 10px;
}
.link:hover{
   color: yellow;
}
.nav{
   padding: 10px;
}