.header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: absolute;
    right: 0px;
    left: 0;
    align-items: center;
    padding: 0px 28px;
    z-index: 1000;
   
}

.Logo{
   width: 150px;
   height: 45px;
}
.link{
   color: white;
   margin-right: 20px;
   margin-top: 13px;

 
   text-decoration: none;
 
}
.link:active{
   color: yellowgreen;
}
 
.link:hover{
   color: yellow;
}
.nav{
   padding: 10px;
}