.rec {
  color: whitesmoke;
  margin-left: 20px;
}

#recommend {
  border-bottom: 1px solid whitesmoke;
  width: 98%;
}

#img-container {
  width: 200px;
}

.list-img {
  display: flex;
  margin-right: 10px;
}

.list-img img{
  width: 150px;
  transform: scale(0.9);
}

.list-img img:hover {
  transform: scale(1);
}

#rec-vote {
  font-size: 13px;
}

#rec-title {
  font-size: 12px;
  margin-left: 5px;
}

