.rec {
  color: whitesmoke;
  margin: 0 auto;
  background-color: rgb(20, 20, 20);
  height: 300px;
  width: 97%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  font-size: 12px; 
  margin-bottom: 50px;
}

.rec::-webkit-scrollbar {
  width: 2px;
  display: none;
}

.rec::-webkit-scrollbar-track {
  background: rgb(8, 8, 8);
}

.rec::-webkit-scrollbar-thumb {
  background-color: rgb(42, 42, 42);  
  border: 3px solid transparent;
  border-radius: 20px;
  background-clip: content-box;
}

#recommend {
  color: white;
  margin: 55px 22px 20px;
  border-style: none;
  font-size: 28px;
}

#recommend:hover {
  color: rgb(244,255,82);
}

#img-container {
  width: 150px;
  object-fit: contain;
}

.list-img {
  display: flex;
  margin: 10px 10px; 
}

.list-img img{
  width: 150px;
  border-radius: 10px;
  transform: scale(0.9);
}

.list-img img:hover {
  transform: scale(1);
}

#rec-vote {
  font-size: 13px;
  margin-left: 5px;
  color: white;
}

#rec-title {
  font-size: 12px;
  padding: 10px;
  color: white;
}

#rec-title:hover {
  color: rgb(244,255,82);
}

a {
  text-decoration: none;
}

.span-container {
  text-align: center;
}

.rec-buttons button {
  font-weight: bolder;
  color: white;
  background-color: rgb(119, 115, 115, 0.5);
  border-style: none;
  border-radius: 50%;
  font-size: 25px;
  width: 36px; 
  z-index: 1000;
  pointer-events: all;
}

.rec-buttons button:hover {
  background-color: rgb(244,255,82, 0.7);
}

.rec-buttons {
  position: absolute;
  margin-top: -30px;  
}

#btn-left {
  position: relative;
  top: -190px;
  left: 25px;
}

#btn-right {
  position: relative;
  top: -190px;
  left: 92vw;
}


